.container {
    position: relative;
    width: 100%;
    height: 100%;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

#map::after {
    content: '';
    position: fixed;
    pointer-events: none;
    border: 0;
    top: 0;
    border-style: none;
    left: 0;
    height: 100%;
    width: 100%;
    background: radial-gradient(transparent, black 80%);
}

.logo {
    position: absolute;
    max-width: 50vw;
    top: 0;
    left: 0;
    z-index: 1;
}